*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    background-color: rgba(23, 23, 23, 0.15);
    padding: 20px;
    position: absolute;
    top: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    margin-right: 100px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.719);

}
 
.banner {
    margin-top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("background4.jpg");
    /* background:linear-gradient(lightgreen),url(background4.jpg) */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
}
.banner .container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.left{
    width: 600px;
}

.left h1{
    margin: 0;
    color: white;
    font-size: 50px;
}
.left p{
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color:lightblue;
    line-height: 30px;
}

.left button{
    color: #2098ca;
    background-color: white;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}

.right{
    width: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 4px 0;
    box-shadow:0 5px 6px rgba(0, 0, 0, 0.215);
}
.right h4{
    font-size: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 30px;
    color: rgb(136, 136, 136);
}
.input-group{
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.input-group label{
    color: rgb(165, 165, 165);
    font-size: 15px;
    /* position: absolute; */
    top: 10px;

}
.input-group input{
    border: none;
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border-bottom: 1px solid #c9c9c98a;
}
.input-group input:focus ~ label{
    color: grey;
}

.submitting input{
    color: #2098ca;
    background-color: white;
    border: none;
    padding: 12px 50px;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}
.submitting{
    text-align: center;
}
/* .submitting:hover{
    box-shadow: 0 3px 5px silver;
} */


.end .ending {
    background-color: #2098ca;
    color: #333;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Add more styles for links, additional content, or icons within the footer as needed */
